<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
</head>
<body>
<h1>添加文章</h1>
<form action="/toaddArticle" method="post">
    文章标题：<input type="text" name="title" placeholder="请输入文章标题"><br>
    文章标签：<input type="text" name="tag" placeholder="请输入文章标签"><br>
    <!--文章内容：<input type="text" name="content" placeholder="请输入文章内容"
                    style="width:200px; height:20px;"><br>-->
    文章内容：<textarea type="text" name="content" placeholder="请输入文章内容"
                       style="width:200px; height:20px;"></textarea><br>
    <button type="submit">保存</button>
</form>
</body>
</html>