<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="sidebar">
  <ul>
    <li>
      <h4 style="text-align: center;">侧边栏</h4>
    </li>
    <li>
      <p>首页</p>
      <span>></span>
      <div class="sidebar-mask">欢迎。。。</div>
    </li>
    <li>
      <p>文章列表</p>
      <span>></span>
      <div class="sidebar-mask">列表一</div>
    </li>
    <li>
      <p>新增文章</p>
      <span>></span>
      <div class="sidebar-mask">我是第三个</div>
    </li>
    <li>
      <p>第四</p>
      <span>></span>
      <div class="sidebar-mask">我是第四个</div>
    </li>
  </ul>
</div>
</body>
</html>
