<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <!--注册表单-->
            <h1>Welcome</h1>
            <form action="/login" method="post">
                <label>
                    <input type="text" name="username" placeholder="请输入用户名"><br>
                </label>
                <label>
                    <input type="password" name="password" placeholder="请输入密码"> <br>
                </label>

                <button type="submit">登录</a></button><br>
            </form>

</body>
</html>