<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

    <div>
        <ul>
            <li><a href="/login">登录</a></li>
        </ul>
    </div>

    <!--注册表单-->
            <h1>Welcome</h1>
            <form enctype="application/x-www-form-urlencoded" action="register.html" method="post">
                <label>
                    <input type="text" name="username" placeholder="Username">
                </label><br>
                <label >
                    <input type="password" name="password" placeholder="Password">
                </label><br>
                <button type="submit" >注册</button>
            </form>

</body>
</html>